@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}
/* HEADER SECTION */
ul {
    list-style-type: none;
    display: flex;
    gap: 18px;
    color: #f9faf8;
    font-size: 18px;
    flex-wrap: wrap;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2937;
}


