@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header, .footer, .hero_section {
    background-color: #1f2937;
}

h1 {
    margin: 0;
}
/* HEADER SECTION */
ul {
    list-style-type: none;
    display: flex;
    gap: 18px;
    color: #e5e7eb;
    font-size: 18px;
    flex-wrap: wrap;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
}

/* HERO SECTION  */

#hero {
   font-size: 48px;
   font-weight: bolder;
   color: #f9faf8; 
}

#hero_sub {
    font-size: 18px;
    color: #e5e7eb;
}

#signup_btn {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    padding: 8px 16px;
    border: 2px solid #3882F6;
    font-weight: bold;
}

.hero_section {
   display: flex; 
   justify-content: space-around;
   flex-wrap: wrap;
   align-items: center;
   padding-left: 100px;
   padding-right: 100px;
   padding-bottom: 50px;
   padding-top: 20px;
}

.signup {
    text-align: left;
    max-width: 375px;
    font-size: 18px;
}

.image {
    display: flex;
    width: 450px;
    height: 250px;
    background-color: grey;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

/* CARD SECTION */

#card_title {
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.subtitles {
    display: flex;
    color: #1f2937;
    flex-wrap: wrap;
}

.card_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards_display {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    display: flex;
    border-style: solid;
    border-color: #3882F6;
    border-width: 3px;
    border-radius: 10px;
    width: 180px;
    height: 180px;
    justify-content: center;
    align-items: center;
}

/* QUOTE SECTION */

.quote_section {
    background-color: #e5e7eb;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 60px;
    padding-bottom: 60px;
}

#quote {
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    font-style: italic;
    margin: 0;
}

#quote_sign {
    font-size: 18px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: flex-end;   
}

/* SIGNUP SECTION */

.signup_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.signup_banner {
    display: flex;
    background-color: #3882F6;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
    border-radius: 10px;
    min-width: 700px;
    justify-content: space-between;
}

.signup_text {
    display: flex;
    flex-direction: column;
}

#cta {
    color: #F9FAF8;
    font-weight: bold;
    margin: 0;

}

#cta_sub {
    margin: 0;
    color: #F9FAF8;
}

.signup_btn2 {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    padding: 8px 16px;
    border: 2px solid #F9FAF8;
    font-weight: bold;
    margin-left: 60px;
}

/* FOOTER SECTION */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #F9FAF8;
}



